$color1: #0066CC;
$color2: #2D3436;
$color3: #2D3436;
$color4: #F8F9FA;
$color5: #F8F9FA;
$color6: #2D3436;
$color7: #F8F9FA;

$primaryColor: $color3;
$secondaryColor: $color1;
$mainWhite: $color4;

* {
  box-sizing: border-box;
}

body {
  color: $primaryColor;
  font-size: 100%;
  margin: 0;
  line-height: 1.4283;
  font-family: "Segoe UI", Roboto, Verdana, "Helvetica Neue", sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: $secondaryColor;
  text-decoration: none;
}

.sidebar-btns {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 10%;
  z-index: 99;
  font-size: 1.125rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0.9375rem;
  border-radius: 0.25rem;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
}

#scroll-btn {
  right: 15%;
  background-color: $color4;
}
