@import './../../styles/style.scss';

.contact {

  color: $color3;


    width: 80%;

    .text {
      font-style: italic;
      margin-bottom: 2px;

      a {
        color: $color2;
      }

    }

 
}