@import './../../styles/style.scss';


.wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;  
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  //background-color: lightblue;
}
.box2 {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
  //background-color: lightpink;
}  



.educations {


  color: $color2;
  //padding-top: 0.1rem !important;
  //padding-bottom: 1rem !important;
  //max-width: 75rem;

  .item {

    width: 80%;

   .date {
      padding-top: 10px;
      color: $color6;
      min-width: none;
    }

    .institution {
      padding-top: 10px;
    }
  }  
}

@media only screen and (max-width: 768px) {

  .educations {

    .item {

      width: 100%;

    }  
  }  

}