$gray-600: #868e96 !default;

$black: #000 !default;

.employments {
  //background-color: red;
  color: $black;
  padding-top: 0.1rem !important;
  padding-bottom: 1rem !important;
  max-width: 75rem;
  .item {
    .keyword {
      color: #189a9e;
      border-radius: 5px;
      background: #f1f1f1;
      padding: 5px;
      margin-right: 10px;
      margin-bottom: 10px;;
    }
    .highlights {
      color: #189a9e;
    }
    .date {
      color: $gray-600;
      min-width: none;
    }
  }  
}