@import './../../styles/style.scss';




.knowledges {


  color: $color2;

  .item {

    width: 80%;
    
    h2 {
      margin-top: 5px;
      color: $color6;
      font-weight: 1000;
      font-style: italic;
      font-size: large;
      text-align: left;
      text-transform: lowercase;
    }    

    h2:first-letter {
      text-transform: uppercase;
    }
    
    ul.keywords li:hover {
        background: #dfeaf0;
    }



  }  
}

@media only screen and (max-width: 768px) {

  .knowledges {

    .item {

      width: 100%;

    }  
  }  

}