.verticalmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgba(37, 27, 27, 0.1);
  position: fixed;
  height: 200px;
  overflow: auto;
}

.verticalmenu li a {
  display: block;
  color: #464646;
  padding: 8px 16px;
  text-decoration: none;
}

.verticalmenu li a.active {
  background-color: #04AA6D;
  color: white;
}

.verticalmenu li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

