@import './../../styles/style.scss';


.verticalmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: $color4;
  position: fixed;
  height: 200px;
  overflow: auto;
  cursor: pointer;
  border-radius: 8px;
  //text-transform: uppercase;
}

.verticalmenu li a {
  display: block;
  color: $color2;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.5s all;
}

.verticalmenu li a.active {
  background-color: $color5;
  color: $color4;
}

.verticalmenu li a:hover:not(.active) {
  background-color: $color5;
  color: $color4;
  transition: 0.5s all;
}

@media only screen and (max-width: 768px) {
  .verticalmenu ul {
    position: relative;
    width: 80%;
  }

  .verticalmenu li a {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }


}