@import './../../styles/style.scss';

.myinfo {

  color: $color3;


    width: 80%;

    h2 {
      margin-top: 10px;
      color: $color3;
      font-weight: 1000;
      font-style: italic;
      font-size: x-large;
      text-align: left;
      text-transform: lowercase;
    }

    h2:first-letter {
      text-transform: uppercase;
    }

    .summary {
      font-style: italic;
    }

 
}

@media only screen and (max-width: 768px) {

  .myinfo {

    width: 100%;

  }

}