@import './../../styles/style.scss';



.skills {


  color: $color2;

  .item {

    width: 80%;

    h2 {
      margin-top: 5px;
      color: $color3;
      font-weight: 1000;
      font-style: italic;
      font-size: large;
      text-align: left;
      text-transform: lowercase;
    }

    h2:first-letter {
      text-transform: uppercase;
    }

    ul.keywords {
        margin-top: .5em;
    }
    
    ul.keywords li {
        display: inline-block;
        white-space: nowrap;
        color: $color6;
        border-style: ridge;
        border-width: 1px;
        border-radius: 10px;
        background: $color7;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
  
    }
    
    ul.keywords li:hover {
      background: $color5;
    }


  }  
}

@media only screen and (max-width: 768px) {

  .skills {

    .item {

      width: 100%;

    }  
  }  

}